
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Klinik Refa Pratama</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/iconfonts/font-awesome/css/all.min.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css'%}">
  <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.addons.css'%}">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/style.css'%}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/logo.jpeg'%}" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.6/dist/sweetalert2.min.css">
  
  {% block css %}{% endblock  %}
</head>
<body>
  <div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    {% include 'layouts/navbar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_settings-panel.html -->
      {% include 'layouts/settings-panel.html' %}
      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      {% include 'layouts/sidebar.html' %}
      <!-- partial -->
      <div class="main-panel">
        {% block content %}{% endblock  %}
        
        <!-- content-wrapper ends -->
        <!-- partial:partials/_footer.html -->
        {% include 'layouts/footer.html' %}
        <!-- partial -->
      </div>
      <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->

  <!-- plugins:js -->
  <script src="{% static 'vendors/js/vendor.bundle.base.js'%}"></script>
  <script src="{% static 'vendors/js/vendor.bundle.addons.js'%}"></script>
  <!-- endinject -->
  <!-- Plugin js for this page-->
  <!-- End plugin js for this page-->
  <!-- inject:js -->
  <script src="{% static 'js/off-canvas.js'%}"></script>
  <script src="{% static 'js/hoverable-collapse.js'%}"></script>
  <script src="{% static 'js/misc.js'%}"></script>
  <script src="{% static 'js/settings.js'%}"></script>
  <script src="{% static 'js/todolist.js' %}"></script>
  <!-- endinject -->
  <!-- Custom js for this page-->
  <script src="{% static 'js/dashboard.js'%}"></script>
  <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.6/dist/sweetalert2.all.min.js"></script>
  <script>
    new DataTable('#datatable');
    $(document).ready(function() {
        $('.select2').select2();
    });
  </script>


  {% if messages %}
  <script>
      document.addEventListener('DOMContentLoaded', function() {
      {% for message in messages %}
          swal.fire('{{ message.tags }}', '{{ message }}', '{{ message.tags }}');
      {% endfor %}
      });
  </script>
  {% endif %}  
  
  <!-- End custom js for this page-->
  {% block js %}{% endblock  %}
</body>


</html>
