<nav class="sidebar sidebar-offcanvas menu-native-scroll" id="sidebar">
    <ul class="nav">
      <li class="nav-item nav-profile">
        <div class="nav-link">
          <div class="profile-image">
            <img src="https://i.pravatar.cc/300" alt="image"/>
          </div>
          <div class="profile-name">
            <p class="name">
              Welcome Jane
            </p>
            <p class="designation">
              Super Admin
            </p>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">
          <i class="fa fa-home menu-icon"></i>
          <span class="menu-title">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#page-layouts" aria-expanded="false" aria-controls="page-layouts">
          <i class="fa fa-database menu-icon"></i>
          <span class="menu-title">Master Data</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="page-layouts">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="{% url 'user-list' %}">Akun User</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'layanan-list' %}">Layanan</a></li>
            {% comment %} <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="{% url 'poliklinik-list' %}">Poli Klinik</a></li> {% endcomment %}
            <li class="nav-item d-none d-lg-block"> <a class="nav-link" href="{% url 'tenaga_medis-list' %}">Tenaga Medis</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item d-none d-lg-block">
        <a class="nav-link collapsed" data-toggle="collapse" href="#sidebar-layouts" aria-expanded="false" aria-controls="sidebar-layouts">
          <i class="fa fa-calendar menu-icon"></i>
          <span class="menu-title">Jadwal Dokter</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="sidebar-layouts" style="">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'jadwal-view' %}">Lihat Jadwal</a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'jadwal-list' %}">Kelola Jadwal</a></li>
          </ul>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'pasien-list' %}">
          <i class="fa fa-user menu-icon"></i>
          <span class="menu-title">Pasien</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'rawat_jalan-list' %}">
          <i class="fa fa-user-md menu-icon"></i>
          <span class="menu-title">Rawat Jalan</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'rawat_inap-list' %}">
          <i class="fa fa-stethoscope menu-icon"></i>
          <span class="menu-title">Rawat Inap</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'inventory-obat-list' %}">
          <i class="fa fa-medkit menu-icon"></i>
          <span class="menu-title">Obat - obatan</span>
        </a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" data-toggle="collapse" href="#surat" aria-expanded="false" aria-controls="rawat_jalan">
          <i class="fa fa-paper-plane menu-icon"></i>
          <span class="menu-title">Surat Menyurat</span>
          <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="surat" style="">
          <ul class="nav flex-column sub-menu">
            <li class="nav-item"> <a class="nav-link" href="{% url 'keterangan-sakit-list' %}"> Keterangan Sakit </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'keterangan-sehat-list' %}"> Keterangan Sehat </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'rujukan-list' %}"> Surat Rujukan </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'kelahiran-list' %}"> Surat Kelahiran </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'kematian-list' %}"> Surat Kematian </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'rapid-list' %}"> Surat Rapid Antigen </a></li>
            <li class="nav-item"> <a class="nav-link" href="{% url 'tugas-list' %}"> Surat Perintah Tugas </a></li>
          </ul>
        </div>
      </li>
    </ul>
  </nav>