{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{% static '/css/pdf.css'%}" />
        <title>{{ title }}</title>
    </head>
    <body>
        {% include 'component/head_pdf.html' %}
        <section class="content">
            <div class="kop col-md-12">
                <center>
                <div class="date-and-no">
                    <u><h3>{{ title }}</h3></u>
                    <p style="font-size:medium; line-height: 1px;">No. {{ item.request_service.srv_code }}/xx/xx/XII/xxx</p>
                </div>
                </center>
            </div>
            <br>
            <br>
            <div class="patient-data">
                <p style="font-size: medium;">Yang bertanda tangan dibawah ini, Dokter jaga KLINIK REFA PRATAMA Kulim Jaya Menerangkan Dengan Sesungguhnya Bahwa :  </p>
            </div>
            <br />
            <div class="content close">
                <div class="content-header">
                    <div class="patient-data">
                        <p style="font-size: medium;"><span class="label">Nama Pasien</span>: <span class="contents">{{ item.pasien.full_name }}</span></p>
                        <p style="font-size: medium;"><span class="label">Tgl Lahir</span>: <span class="contents">{{ item.pasien.tanggal_lahir }}</span></p>
                        <p style="font-size: medium;"><span class="label">Alamat</span>: <span class="contents">{{ item.pasien.alamat }}</span></p>
                        <p style="font-size: medium;"><span class="label">Pekerjaan</span>: <span class="contents">{{ item.pasien }}</span></p>
                        <p style="font-size: medium;"><span class="label">Agama</span>: <span class="contents">{{ item.pasien.agama }}</span></p>
                        <p style="font-size: medium;"><span class="label">Tanggal Pemeriksaan</span>: <span class="contents">{{ item.created_at }}</span></p>
                    </div>
                </div>
            </div>
            <br>
            <table>
                <tr>
                    <th>Pemeriksaan</th>
                    <th>Hasil</th>
                    <th>Nilai Rujukan</th>
                </tr>
                <tr>
                    <td>{{ item.pemeriksaan }}</td>
                    <td>{{ item.hasil }}</td>
                    <td>{{ item.nilai_rujukan }}</td>
                </tr>
            </table>
            <div class="patient-data">
                <p style="font-size: medium;"> keterangan  <b>{{ item.nama_bayi }}</b> <br>
                <p style="font-size: medium;"> Hasil tersebut diatas hanya menggambarkan kondisi saat pengambilan specimen. Bila timbul gejala klinis atau kontak dengan pasien terinfeksi setelah pemeriksaan, silahkan hubungi Dokter atau fasilitas kesehatan terdekat. Pemeriksaan ulang dapat dilakukan lagi berdasarkan rekomendasi dokter.                 </p>
            </div>
        </section>
        <br><br><br><br><br><br>
       {% include 'component/footer_pdf.html' %} 
    </body>
</html>
