{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="{% static '/css/pdf.css'%}" />
        <title>{{ title }}</title>
    </head>
    <body>
        {% include 'component/head_pdf.html' %}
        <section class="content">
        <div class="kop col-md-12">
            <center>
            <div class="date-and-no">
                <u><h1>{{ title }}</h1></u>
                <p style="line-height: 1px;">No. {{ item.request_service.srv_code }}/xx/xx/XII/xxx</p>
            </div>
            </center>
        </div>
        <br />
        <div class="content close">
            <div class="content-header">
                <div class="patient-data">
                  <p><span class="label">Nama Pasien</span>: <span class="contents">{{ pasien.pasien.full_name }}</span></p>
                  <p><span class="label">No RM</span>: <span class="contents">{{ pasien.id }}</span></p>
                  <p><span class="label">Tgl Lahir</span>: <span class="contents">{{ pasien.pasien.tanggal_lahir }}</span></p>
                  <p><span class="label">Jenis Kelamin</span>: <span class="contents">{{ pasien.pasien.jenis_kelamin }}</span></p>
                </div>
            </div>
            <br>
            
            <div >
                <div class="content-table">
                    <table id="datatable" class="table table-striped">
                        <thead>
                            <tr>
                                <th>Tanggal Kunjungan</th>
                                <th>Diagnosis </th>
                                <th>Terapi / Tindakan</th>
                                <th>Nama Petugas Kesehatan</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for item in list_resume %}
                            <tr role="row" class="even">
                                <td>{{item.created_at}}</td>
                                <td>{{item.dignosis}}</td>
                                <td>{{item.terapi}}</td>
                                <td>{{item.tenaga_medis}}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        </section>
        <br /><br />

        <footer>
        <div class="ttd-l">
            <center>
            <p>Nama Pasien</p><br>
            <p class="ttd-l-name">{{ pasien.pasien.full_name }}</p>
            </center>
        </div>
        <div class="ttd">
            <center>
            <p>Yogyakarta, {{ item.created_at|date:'d M Y' }}</p><br>
            <p>Tenaga Medis</p>
            <p class="ttd-name">{{ pasien.dokter }}</p>
            </center>
        </div>
        </footer>
    </body>
</html>
