{% extends 'layouts/main.html' %}
{% block content %}
{% load humanize %}
<div class="content-wrapper">
    {% include 'component/content_header.html' %}
    <div class="row">
        <div class="col-md-6 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title mb-0">Total Obat Masuk {{obat.name}}</h1>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-inline-block pt-3">
                            <div class="d-md-flex">
                                <h2 class="mb-0">{{ obat_masuk }}  {{ obat.satuan }}</h2>
                                <div class="d-flex align-items-center ml-md-2 mt-2 mt-md-0">
                                </div>
                            </div>
                        </div>
                        <div class="d-inline-block">
                            <i class="fas fa-chart-pie text-info icon-lg"></i>                                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h1 class="card-title mb-0">Total Obat Keluar {{obat.name}}</h1>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-inline-block pt-3">
                            <div class="d-md-flex">
                                <h2 class="mb-0">{{ obat_keluar }}  {{ obat.satuan }}</h2>
                                <div class="d-flex align-items-center ml-md-2 mt-2 mt-md-0">
                                </div>
                            </div>
                        </div>
                        <div class="d-inline-block">
                            <i class="fas fa-chart-pie text-info icon-lg"></i>                                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock  %}