<footer>
    <div class="ttd-l">
        <center>
        <p>&nbsp;</p><br>
        <p class="ttd-l-name"></p>
        </center>
    </div>
    <div class="ttd">
        <center>
        <p style="font-size: medium;">Kulim Jaya, {{ item.created_at|date:'d M Y' }}</p><br><br>
        <p style="font-size: medium;">{{ ttd_keterangan }}</p>
        <p style="font-size: medium;" class="ttd-name"><u>dr. SYARIFAH TURSYINA</u><br><br><br><br><b>SIP.129/DPMTSP/SIPD/XI/2020</b></p>
        </center>
    </div>
    </footer>