<header>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="kop col-md-6">
        <center>
            <div style="line-height: 0%;">
            <h1>KINIK REFA PRATAMA</h1>
            </div>
            <div class="date-and-no">
            <h4><p style="font-size: small;">Poros Sp V, Desa Kulim Jaya. Kec. Lubuk Batu Jaya.</p></h4>
            </div>
            <div class="date-and-no">
            <p style="font-size: small;">HP. 082283145751 | https://klinikrefa.com | <br><br><br> sarifahs079@gmail.com</p>
            </div>
        </center>
        </div>
        <div class="col-md-3"></div>
    </div>
    <hr />
    </header>
    