{% extends 'layouts/main.html' %}
{% load static %}
{% block css %}
<style>
    .fc-event-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
</style>
{% endblock  %}
{% block content %}
<div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">
        Dashboard Klinik Refa Pratama
      </h3>
    </div>
    <div class="row grid-margin">
      <div class="col-12">
        <div class="card card-statistics">
          <div class="card-body">
            <div class="d-flex flex-column flex-md-row align-items-center justify-content-between">
                <div class="statistics-item">
                  <p>
                    <i class="icon-sm fa fa-user mr-2"></i>
                    Total Pasien
                  </p>
                  <h2>{{total_pasien}}</h2>
                </div>
                <div class="statistics-item">
                  <p>
                    <i class="icon-sm fa fa-user mr-2"></i>
                    Pasien Rawat Jalan
                  </p>
                  <h2>{{ pasien_rawat_jalan }}</h2>
                </div>
                <div class="statistics-item">
                  <p>
                    <i class="icon-sm fa fa-user mr-2"></i>
                    Pasien Rawat Inap
                  </p>
                  <h2>{{ pasien_rawat_inap }}</h2>
                  
                </div>
                <div class="statistics-item">
                  <p>
                    <i class="icon-sm fa fa-user mr-2"></i>
                    Pasien Fisioterapi
                  </p>
                  <h2>{{ pasien_fisioterapi }}</h2>
                </div>
                <div class="statistics-item">
                  <p>
                    <i class="icon-sm fas fa-chart-line mr-2"></i>
                    Tenaga Medis
                  </p>
                  <h2>{{ tenaga_medis }}</h2>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">
              <i class="fas fa-envelope"></i>
              Jadwal Tenaga Medis
            </h4>
            <div class="table-responsive">
              <div id="calendar" class="full-calendar"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-body">
            <div class="d-md-flex justify-content-between align-items-center">
              <div class="d-flex align-items-center mb-3 mb-md-0">
                <button class="btn btn-social-icon btn-facebook btn-rounded">
                  <i class="fab fa-facebook-f"></i>
                </button>
                <div class="ml-4">
                  <h5 class="mb-0">Facebook</h5>
                  <p class="mb-0">813 friends</p>
                </div>
              </div>
              <div class="d-flex align-items-center mb-3 mb-md-0">
                <button class="btn btn-social-icon btn-twitter btn-rounded">
                  <i class="fab fa-twitter"></i>
                </button>
                <div class="ml-4">
                  <h5 class="mb-0">Twitter</h5>
                  <p class="mb-0">9000 followers</p>
                </div>
              </div>
              <div class="d-flex align-items-center mb-3 mb-md-0">
                <button class="btn btn-social-icon btn-google btn-rounded">
                  <i class="fab fa-google-plus-g"></i>
                </button>
                <div class="ml-4">
                  <h5 class="mb-0">Google plus</h5>
                  <p class="mb-0">780 friends</p>
                </div>
              </div>
              <div class="d-flex align-items-center">
                <button class="btn btn-social-icon btn-linkedin btn-rounded">
                  <i class="fab fa-linkedin-in"></i>
                </button>
                <div class="ml-4">
                  <h5 class="mb-0">Linkedin</h5>
                  <p class="mb-0">1090 connections</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock  %}
{% block js %}
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/moment.min.js'></script>
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery.min.js'></script>
<script src="http://fullcalendar.io/js/fullcalendar-2.1.1/lib/jquery-ui.custom.min.js"></script>
<script src='http://fullcalendar.io/js/fullcalendar-2.1.1/fullcalendar.min.js'></script>
<script>
    $(document).ready(function() {
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,basicWeek,basicDay'
            },
            navLinks: true, // can click day/week names to navigate views
            editable: true,
            eventLimit:false, // allow "more" link when too many events
            eventRender: function(event, element) {
                element.css('height', 'auto');  // Set the height to auto to fit content
            },
            events: generateRecurrentEvents()
        });

        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        
        function generateRecurrentEvents() {
            var startDate = new Date();  // Start date, you can set it to any date you want
            var endDate = new Date();    // End date, for this example, it's set to 7 days from the start date
            const jadwal_str = "{{ jadwal }}"
            var jadwal_json = JSON.parse('[' + jadwal_str.replace(/&#x27;/g, '"') + ']')[0];
            let titleColors = {};
            endDate.setDate(startDate.getDate() + 7); // 7 days from start date
        
            var events = [];
        
            for (let item of jadwal_json) {
                for (var d = new Date(startDate); d <= endDate; d.setDate(d.getDate() + 1)) {
                
                var year = d.getFullYear();
                var month = String(d.getMonth() + 1).padStart(2, '0'); // Months are 0-based in JavaScript, so we add 1
                var day = String(d.getDate()).padStart(2, '0');
                var formattedDate = `${year}-${month}-${day}`;
                
                if (item.code_hari == d.getDay()) {
                    if (!titleColors[item.title]) {
                        titleColors[item.title] = getRandomColor();
                    }
                    console.log(titleColors[item.title])
                    events.push({
                        title: item.title + ' - ' + item.duration,
                        start: formattedDate,
                        color: titleColors[item.title]
                    });
                    }
                }
            }
            
            return events;
        }
    });
</script>
{% endblock  %}