
{% load static %}
<!DOCTYPE html PUBLIC ">
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="{% static '/css/pdf.css'%}" />
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /><title>ASESMEN AWAL PASIEN FISIOTERAPI</title><meta name="author" content="Windows 8 Elite" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    {% include 'component/head_pdf.html' %}
    <div class="kop col-md-12">
        <center>
        <div class="date-and-no">
            <u><h1>INTERVENSI DAN MONITORING FISIOTERAPI</h1></u>
            {% include 'component/cop_pdf.html' %}
        </div>
        </center>
    </div>
    <section class="content">

        <div class="content close">
            <div class="content-header">
                <div class="patient-data">
                <p style="font-size: medium;"><span class="label">Nama Pasien</span>: <span class="contents">{{ pasien.full_name }}</span></p>
                <p style="font-size: medium;"><span class="label">Tgl Lahir</span>: <span class="contents">{{ pasien.tanggal_lahir }}</span></p>
                <p style="font-size: medium;"><span class="label">Alamat</span>: <span class="contents">{{ pasien.alamat }}</span></p>
                <p style="font-size: medium;"><span class="label">Jenis Kelamin</span>: <span class="contents">{{ pasien.jenis_kelamin }}</span></p>
                </div>
            </div>
        </div>
        <table>
            <thead>
                <tr>
                    <th>No</th>
                    <th>Tgl</th>
                    <th>Tindakan</th>
                    <th>Perkembangan (S=Subyektif; O=Obyektif; A=Asesmen; R=Rencana.)</th>
                    <th>Paraf</th>
                </tr>
            </thead>
            <tbody>
                {% for item in list_fisioterapi  %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ item.created_at }}</td>
                    <td>{{ item.tindakan }}</td>
                    <td>{{ item.perkembangan }}</td>
                    <td>{{ item.tenaga_medis }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
    
  </body>
</html>
