{% extends 'layouts/main.html' %}

{% load static %}

{% block css %}
{{ form.media.css }}
{% endblock %}

{% block content %}
    <!-- Page Heading -->

<div class="content-wrapper">
    {% include 'component/content_header.html' %}
    <div class="col-12 grid-margin stretch-card">
        <div class="card  mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">{{ header_title }}</h6>
            </div>
            <div class="card-body">
                <form action="." method="POST" id="myForm" enctype="multipart/form-data">
                    {% csrf_token %}
                    {% for fields in form.visible_fields %}
                        <div class="row clearfix">
                            <div class="col-lg-2 col-md-2 col-sm-4 form-control-label">
                                <label for="{{ fields.label_tag.id }}">
                                    <h6>
                                        {{ fields.label_tag }}
                                        {% if fields.field.required %}
                                            <span class="text-red" style="color: red;">*</span>
                                        {% endif %}
                                    </h6>
                                </label>
                            </div>
                            <div class="col-lg-10 col-md-10 col-sm-8">
                                <div class="form-group">
                                    {{ fields.help_text }}
                                        <span class="text-red">
                                            {{ fields.errors }}
                                        </span>
                                        {{ fields }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <div class="row clearfix">
                        <div class="col-sm-8 offset-sm-2">
                            <input type="submit" value="Save" class="btn btn-primary mr-2"></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock  %}
{% block js %}
<script>
    $(document).ready(function() {
        $('#id_nik').keyup(function() {   
            var query = $(this).val();
            if (query.length == 16) {
                const settings = {
                    async: true,
                    crossDomain: true,
                    url: 'https://indonesian-identification-card-ktp.p.rapidapi.com/api/v3/check?nik='+query,
                    method: 'GET',
                    //headers: {
                    //    'X-RapidAPI-Key': '1737ea130amsheac6f29b3b37dc7p11d5efjsnd73ac051a346',
                    //    'X-RapidAPI-Host': 'indonesian-identification-card-ktp.p.rapidapi.com'
                    //}
                    headers: {
                        'X-RapidAPI-Key': '2147570127mshf510c95f05acb3dp103cb5jsn701b88d18431',
                        'X-RapidAPI-Host': 'indonesian-identification-card-ktp.p.rapidapi.com'
                    }

                };
                
                $.ajax(settings).done(function (data) {
                    var results = data.results;
                    var alamat = results.realtime_data.findNikSidalih.alamat + ', Kecamatan ' + results.parse_data.kecamatan + ', Kabupaten ' + results.realtime_data.findNikSidalih.kota_kabupaten + ', Provinsi ' + results.parse_data.provinsi;

                    var inputDate = results.parse_data.tanggal_lahir;
                    var parts = inputDate.split("/");
                    var formattedDate = parts[2] + "-" + parts[0].padStart(2, '0') + "-" + parts[1].padStart(2, '0');

                    console.log(formattedDate); // Output: "1996-08-01"

                    document.getElementById('id_full_name').value = results.realtime_data.findNikSidalih.nama
                    document.getElementById('id_tanggal_lahir').value = formattedDate
                    document.getElementById('id_jenis_kelamin').value = results.parse_data.jenis_kelamin
                    document.getElementById('id_alamat').value = alamat
                });
            }
           
        });
    });
</script>
{{ form.media.js }}
{% endblock %}

